APP_NAME=Inventory Management API
APP_ENV=local
APP_DEBUG=true
API_PREFIX=/api/v1

JWT_SECRET=change-me
JWT_ALGORITHM=HS256
JWT_ACCESS_TTL_MINUTES=60

DB_HOST=localhost
DB_PORT=5432
DB_NAME=inventory-management
DB_USER=postgres
DB_PASSWORD=postgres
